/* general */
/* !!!!!!!!!!!!!!!!!!!!!!!!!!!!!! */
h2{
    font-family: Arial, Helvetica, sans-serif;
    color: aliceblue;
    font-size: 35;
    text-align: center;
    padding-top: 50;
}
h3, p, li{
    font-family: Arial, Helvetica, sans-serif;
    color: aliceblue;
}
a{
    font-family: Arial, Helvetica, sans-serif;
    font-size: large;
    color: aliceblue;
}



/* header and footer */
/* !!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!! */
nav{
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding-top: 15px;
	padding-left: 8%;
	padding-right: 8%;
}
nav ul li{
	list-style-type: none;
	display: inline-block;
	padding: 10px  25px;
}
nav ul li a{
	color: white;
    font-family: sans-serif;
	text-decoration: none;
	font-weight: bold;
	text-transform: capitalize;
}
nav ul li a:hover{
	color: rgb(115, 115, 115);
	transition: .4s;
}
footer{
    height: fit-content;
    /* background-color: black; */
    background-color: rgb(28, 28, 28);
    text-align: center;
    display: inline-block;
    justify-content: center;
    width:100%;
}   
#footNav{
    display: flex;
    justify-content: center;
    font-size: medium;
    padding: 0%;
    margin:-25px 0px -25px;
}
#footNav li{
    padding: 15;
}
.logo{
    /* border: white 3px solid; */
    margin: 5px;
    margin-bottom: 20;
}



/* main  */
/* !!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!! */
.main{
    height: 100vh;
    width: 100%;
    background-image: url("forWebsite/chicagoBG2.jpg");
    background-repeat: no-repeat;
    background-size: 125%;
}
#name{
    font-size: 90;
    font-family: sans-serif;
    color: rgb(210, 210, 210); 
    margin-left: 165;
    margin-bottom: -50;
    margin-top: -20;
}
#title{
    font-size: 40;
    margin-left: 165;
    font-family: sans-serif;
    text-align: left;
    color: rgb(184, 184, 184);
    margin-bottom: -30;
    margin-top: -30;
}
#port{
    font-size: 25;
    font-family: sans-serif;
    margin-left: 20;
    color: aliceblue;
    margin-top: -70;
    margin-bottom: -10;
}



/* summary */
/* !!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!! */
.summary{
    background-color: rgb(24, 24, 24);
    height: fit-content;
    width: auto;
    display: flex;
    justify-content: center;
}
.about{
    text-align: left;
    height: fit-content;
    width: 800px;
    margin-left: 10px;
}
#aboutText{
    font-family: sans-serif;
    color: aliceblue; 
    font-size: 22;
}
#aboutHeading{
    font-family: sans-serif;
    color: aliceblue;
    font-size: 35;
    text-align: left;
    padding-top: 30;
    padding-left: 10;
}



/* projects */
/* !!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!! */
.projContainer{
    background-color: black;
    height: fit-content;
    width: auto;
}
.projects{
    margin:0px 175px 100px;
    border: 3px solid gray;
    background-color: rgb(47, 47, 47);
    border-radius: 20px;
    height: fit-content;
    width: fit-content;
    /* text-align: center; */
}
.text{
    color: aliceblue;
    /* border: 3px solid gray; */
    margin-left: 30;
    width: 310;
    height: 175;
    text-align: left;
    float: right;
    margin-top: -180;
}
.p1{
    margin-left: 130px;
}
.prj{
    margin: 20px;
    /* border: 3px double gray; */
    border-radius: 20px;
    width: 700;
    height: 200;
    margin-top: 10px;
    display: inline-block;

}
#pic1, #pic2, #pic3, #pic4, #pic5, #pic6{
    width: 370;
    height: 175;
    border: 3px solid gray;
    border-radius: 20px;
    margin-top: 5px;
}
#pic1{
    background-image: url("forWebsite/MysticMiner.png");
    background-repeat: no-repeat;
    background-size: 100%;
}
#pic2{
    background-image: url("forWebsite/tacoBellBG.webp");
    background-repeat:repeat-x;
    background-size:80%;
    background-position: center;
    background-position-y: -15px;
}
#pic3{
    background-image: url("forWebsite/KVsRS.png");
    background-repeat: no-repeat;
    background-size: 100%;
}
#pic4{
    background-image: url("forWebsite/dungeonBackground.jpg");
    background-repeat: no-repeat;
    background-size: 100%;
}
#pic5{
    background-image: url("forWebsite/ChordFindHome.png");
    background-repeat: no-repeat;
    background-size: 100%;
}
#pic6{
    background-image: url("forWebsite/PortfolioWS.png");
    background-repeat: no-repeat;
    background-size: 100%;
}



/* education */
/* !!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!! */
#Edu{
    /* background-color: black; */
    background-color: rgb(24, 24, 24);
    height: fit-content;
    width: auto;
}
#eduDiv{
    background-color: rgb(48, 48, 48);
    border: gray solid 3px;
    border-radius: 20px;
    height: fit-content;
    width: fit-content;
    margin: 50 175 70;
    /* margin-left: 190;
    margin-bottom: 70; */
    display:inline-flex;
    justify-content: center;
}
#certs{
    /* border: gray solid 3px; */
    /* height: 500; */
    width: fit-content;
    height: fit-content;
    display: inline-block;
    justify-content: center;
    /* margin-top: 70;
    margin-bottom: 100;*/
    margin-left: 50; 
    
}
#cert3, #cert4, #cert5, #cert1, #cert2, #cert6{
    border: gray solid 3px;
    margin-left: 15;
    margin-top: 15;
    display: inline-block;  
}
#dets{
    /* border: gray solid 3px; */
    height: fit-content;
    width: fit-content;
    margin:30 0 30;
    /* margin-top: 50; */
}
#dets ul{
    color: aliceblue;
}
.eduHeader{
    margin-bottom: -10 ;
}



/* ifaq */
/* !!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!! */
.IFAQ{
    /* background-color: rgb(26, 26, 26); */
    background-color: black;
    width: 100%;
    height: fit-content;
    display: inline-block;
    justify-content: center;    
    text-align: center;
}
#IFAQText{
    width: 40%;
    height: fit-content;
    display: inline-block;
    justify-content: center;    
    margin-bottom: 50;
    /* margin-left: 260;
    margin-bottom: 50; */
    /* border: gray solid 3px; */
}
#IFAQText p{
    margin: -10 0 10;
}



/* vids */
/* !!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!! */
/* .vids{
    border: 3px dotted white;
    border-radius: 50px;
    width: 1050;
    height: 400;
    margin-left: 400;
} */
/* .v1{
    border-radius: 50px;
    width: 1050;
    height: 400;
    margin: auto;
} */
/* #vidsHeadline{
    margin-left: -30;
}
.videos{
    margin: auto;
    text-align: center;
    
}
/* .vidsDiv{
    background-color: rgb(28, 28, 28);
    height: 600px;
}
video{
    border: 3px solid gray;
    border-radius: 45px;
    margin: 20px;
    height: 160;
    width: 320;
    background-color: rgb(24, 24, 24);
    margin:10px;
} */