nav{
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding-top: 15px;
	padding-left: 8%;
	padding-right: 8%;
}

nav ul li{
	list-style-type: none;
	display: inline-block;
	padding: 10px  25px;
}
nav ul li a{
	color: white;
    font-family: sans-serif;
	text-decoration: none;
	font-weight: bold;
	text-transform: capitalize;
}
nav ul li a:hover{
	color: rgb(115, 115, 115);
	transition: .4s;
}

footer{
    height: 130px;
    /* background-color: black; */
    background-color: rgb(28, 28, 28);
}   

#port{
    font-size: 25;
    font-family: sans-serif;
    margin-left: 20;
    color: aliceblue;
    margin-top: -70;
    margin-bottom: -10;
}

#name{
    font-size: 90;
    font-family: sans-serif;
    color: rgb(210, 210, 210); 
    margin-left: 165;
    margin-bottom: -50;
    margin-top: -20;
}

#se{
    font-size: 40;
    margin-left: 165;
    font-family: sans-serif;
    text-align: left;
    color: rgb(184, 184, 184);
    margin-bottom: -30;
    margin-top: -30;
}

#aboutText{
    font-family: sans-serif;
    color: aliceblue; 
    font-size: 22;
}

#aboutHeading{
    font-family: sans-serif;
    color: aliceblue;
    font-size: 35;
    text-align: left;
    padding-top: 100;
    padding-left: 10;
}

h2{
    font-family: sans-serif;
    color: aliceblue;
    font-size: 35;
    text-align: center;
    padding-top: 50;
}

h3, p{
    font-family: sans-serif;
    color: aliceblue;
}

.main{
    height: 850;
    background-image: url("forWebsite/chicagoBG2.jpg");
    background-repeat: no-repeat;
    background-size: 120%;
}

.summary{
    background-color: rgb(24, 24, 24);
    height: 600px;
    display: flex;
    justify-content: center;
}

.about{
    text-align: left;
    height: fit-content;
    width: 800px;
    margin-left: 10px;
}

.vidsDiv{
    background-color: rgb(28, 28, 28);
    height: 600px;
}

.projContainer{
    background-color: black;
    height: 925px;

}

#Edu{
    /* background-color: black; */
    background-color: rgb(24, 24, 24);
    height: 750px;
    
}
#eduDiv{
    background-color: rgb(48, 48, 48);
    border: gray solid 3px;
    border-radius: 20px;
    height: 550;
    width: 1500;
    margin-top: 50;
    margin-left: 190;
    display:inline-flex;
    justify-content: center;
}
#certs{
    /* border: gray solid 3px; */
    /* height: 500; */
    width: 750;
    height: fit-content;
    /* width: fit-content; */
    display: inline-block;
    justify-content: center;
    margin-top: 70;
    margin-left: -150;
}
#cert3, #cert4, #cert5, #cert1, #cert2, #cert6{
    border: gray solid 3px;
    margin-left: 15;
    margin-top: 15;
    display: inline-block;  
}
#dets{
    /* border: gray solid 3px; */
    height: 450;
    width: 600;
    margin-left: 30;
    margin-top: 50;
}
#dets ul{
    color: aliceblue;
}

.IFAQ{
    /* background-color: rgb(26, 26, 26); */
    background-color: black;
    height: 450px;
    display: inline-block;
    justify-content: center;    
    text-align: center;
}
#IFAQText{
    width: 1350;
    height: fit-content;
    margin-left: 260;
    /* border: gray solid 3px; */
}

.vids{
    /* border: 3px dotted white; */
    border-radius: 50px;
    width: 1050;
    height: 400;
    margin-left: 400;
}
/* .v1{
    border-radius: 50px;
    width: 1050;
    height: 400;
    margin: auto;
} */
#vidsHeadline{
    margin-left: -30;
}

.videos{
    margin: auto;
    text-align: center;
    
}

video{
    border: 3px solid gray;
    border-radius: 45px;
    margin: 20px;
    height: 160;
    width: 320;
    background-color: rgb(24, 24, 24);
    margin:10px;
}

.projects{
    margin: auto;
    border: 3px solid gray;
    background-color: rgb(47, 47, 47);
    border-radius: 20px;
    height: fit-content;
    width: 1500;
    /* text-align: center; */
}

.p1{
    margin-left: 130px;
}

.prj{
    margin: 20px;
    /* border: 3px double gray; */
    border-radius: 20px;
    width: 700;
    height: 200;
    margin-top: 10px;
    display: inline-block;

}

#pic1, #pic2, #pic3, #pic4, #pic5, #pic6{
    width: 370;
    height: 175;
    border: 3px solid gray;
    border-radius: 20px;
    margin-top: 5px;
}

#pic1{
    background-image: url("forWebsite/MysticMiner.png");
    background-repeat: no-repeat;
    background-size: 100%;
}

#pic2{
    background-image: url("forWebsite/tacoBellBG.webp");
    background-repeat:repeat-x;
    background-size:80%;
    background-position: center;
    background-position-y: -15px;
}

#pic3{
    background-image: url("forWebsite/bankingBG.avif");
    background-repeat: no-repeat;
    background-size: 100%;
}

#pic4{
    background-image: url("forWebsite/dungeonBackground.jpg");
    background-repeat: no-repeat;
    background-size: 100%;
}

#pic5{
    background-image: url("forWebsite/ChordFindHome.png");
    background-repeat: no-repeat;
    background-size: 100%;
}

#pic6{
    background-image: url("forWebsite/PortfolioWS.png");
    background-repeat: no-repeat;
    background-size: 100%;
}

a{
    font-family: sans-serif;
    font-size: large;
    color: aliceblue;
}

.text{
    color: aliceblue;
    /* border: 3px solid gray; */
    margin-left: 30;
    width: 310;
    height: 175;
    text-align: left;
    float: right;
    margin-top: -180;
}






